.show {
  display: flex;
  flex-direction: column;
}
.show {
  gap: 10px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px;
  border: none;
}
.card:hover,
.adding:hover {
  border: 1px solid black;
}
.adding {
  background-color: #f1f5f9;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
.card p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
.save,
.cancel {
  border-radius: 12px;
  padding: 6px;
  border: 2px solid black;
  font-size: 0.8rem;
  background: none;
  transition: 0.4s;
}
.save:hover {
  background-color: lightgreen;
  transition: 0.4s;
}
.cancel:hover {
  background-color: pink;
  transition: 0.4s;
}
.closedDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
}
.closedDiv:hover {
  cursor: pointer;
}
.closedDiv p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.closedDiv img {
  width: 20px;
  height: auto;
}
