.show {
  display: flex;
  flex-direction: column;
}
.show {
  gap: 10px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px;
  border: none;
}
.card:hover,
.adding:hover {
  border: 1px solid black;
}
.adding {
  background-color: #f1f5f9;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
.card p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
