h1 {
  text-align: center;
  color: white;
}
.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0eb;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 40px;
  margin-bottom: 20px;
  padding: 4px 0px;
}
p {
  margin: 0;
  padding: 0;
}
.outputs {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 20px 40px;
  height: 842px;
  width: 595px;
}
.header {
  background-color: #243c54;
  padding: 36px 24px;
}
.personal-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}
.personal-info p {
  display: flex;
}
.personal-info p img {
  width: 20px;
  height: auto;
}
.education-info,
.exp-info {
  display: flex;
  gap: 60px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.date-and-location {
  display: flex;
  min-width: 150px;
  flex-direction: column;
}
.school-and-degree,
.company {
  display: flex;
  flex-direction: column;
}
.school-and-degree p:first-child,
.company p:first-child {
  font-weight: 600;
}
.company p:nth-child(2) {
  margin-bottom: 10px;
}
