.container {
  display: flex;
  justify-content: space-around;
}
.personal-details,
.education,
.xp {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
.dates {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 40px;
}
.theBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.exampleBtn {
  background: none;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  font-size: 1rem;
  width: 200px;
  transition: 0.4s;
}
.exampleBtn:hover {
  padding: 8px;
  width: 240px;
  transition: 0.4s;
}
