.container {
  display: flex;
  justify-content: space-around;
}
.personal-details,
.education,
.xp {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}
.dates {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 40px;
}
